.Navbar {
  display: flex;
}

.navbar-active {
  background-color: transparent;
  font-weight: 200;
}

.navbar-link {
  justify-content: space-between;
  margin: auto;
  text-decoration: none;
  text-decoration-color: none;
}
